@model YouTube.Models.AdminViewModels.IndexViewModel 

<div class="container-fluid">
    <h1 class="mt-4">Dashboard</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>

    <div class="row">
        @foreach (var video in Model.Videos)
        {
            <div class="col-xl-3 col-md-4">
                <div class="card border-0 shadow">
                    <video class="video-fluid z-depth-1" style="width:100%; height:auto;"  loop controls muted>
                        <source src="~/UserFiles/@video.Creator.Email/Videos/@video.Id/@video.FileName" type="video/mp4" />
                    </video>
                    <div class="card-body">
                        <div class="row" style="margin: 0px auto 10px 0px;">
                            <div><h5 class="card-title mb-0">@video.Title</h5></div>
                            <div class="ml-auto mr-3">
                                <i class="fas @(video.Published ? "fa-eye" : "fa-eye-slash")" style="color: @(video.Published ? "deepskyblue": "orangered")"></i>
                            </div>
                        </div>
                        <div class="row ml-0">
                            <div>
                                <i class="fas fa-calendar-alt" style="color: gray;"></i>
                                <p class="text-muted ml-3 mb-0">Last updated on: @video.UpdatedOn.ToString()</p>
                            </div>

                        </div>
                        <div class="row ml-0" style="bottom:0;">
                            <div>
                                <i class="fas fa-comment" style="color: gray;"></i>
                                <p class="text-muted ml-3 mb-0">@video.Comments.Count() comments</p>
                            </div>

                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col">
                                <a asp-controller="Video" asp-action="Index" asp-route-id="@video.Id" class="btn btn-primary">
                                    <i class="fas fa-arrow-circle-right"></i> View
                                </a>
                            </div>
                            <div class="col">
                                <a asp-controller="Video" asp-action="Edit" asp-route-id="@video.Id" class="btn btn-primary float-right">
                                    <i class="fas fa-edit"></i> Edit
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }

    </div>
</div>