@model YouTube.Models.HomeViewModel.AuthorViewModel
@using PagedList.Core.Mvc
@{
    Layout = "_HomeLayout";
    ViewData["HeaderImage"] = $"../../UserFiles/{Model.Author.Email}/HeaderImage.jpg";
    ViewData["HeaderTitle"] = $"{Model.Author.FirstName} {Model.Author.LastName}";
    ViewData["SubHeader"] = Model.Author.SubHeader;
}  

<article>
    <div class="container">
        <div class="row">
            <div class="col">
                @Html.Raw(Model.Author.AboutContent)
            </div>
        </div>

        <div class="row">
            <div class="col">
                <form asp-controller="Home" asp-action="Author" class="d-none d-md-inline form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
                    <div class="input-group mb-3">
                        <input name="AuthorId" hidden readonly value="@Model.Author.Id" />
                        <input asp-for="SearchString" type="text" class="form-control" placeholder="Search posts for..." />
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" style="padding: 0 10px 0 10px">Search</button>
                        </div>
                    </div>
                </form>

                <div class="row align-content-center">
                    @foreach (var video in Model.Videos)
                    {
                        <div class="col-lg-4 col-md-3 mb-4">
                            <div class="card border-0 shadow">
                                <video class="video-fluid z-depth-1" style="width:100%; height:auto;" loop controls>
                                    <source src="~/UserFiles/@video.Creator.Email/Videos/@video.Id/@video.FileName" type="video/mp4" />
                                </video>
                                <div class="card-body">
                                    <div class="row text-center" style="margin: 0 auto 10px 0;">
                                        <h5 class="card-title text-center w-100">
                                            <a asp-controller="Video" asp-action="Index" asp-route-id="@video.Id">@video.Title</a>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <div list="@Model.Videos" count="20">
                    <pager class="pager-container" list="@Model.Videos"
                           options="@PagedListRenderOptions.Bootstrap4PageNumbersPlusPrevAndNext"
                           asp-action="Index" asp-controller="Home" asp-route-query="@Model.SearchString" />
                </div>
            </div>
        </div>
    </div>
</article>